[submodule "docs/vendor/edk2"]
	path = docs/vendor/edk2
	url = https://github.com/tianocore/edk2.git
[submodule "docs/vendor/edk2-platforms"]
	path = docs/vendor/edk2-platforms
	url = https://github.com/tianocore/edk2-platforms.git
[submodule "docs/vendor/edk2-BaseTools-win32"]
	path = docs/vendor/edk2-BaseTools-win32
	url = https://github.com/tianocore/edk2-BaseTools-win32
